/* 1. Contenedor de la navegación (<nav>) */
nav {
    display: flex; 
    justify-content: space-around; 
    background-color: #a3a3a3; 
    padding: 10px 20px;
    border-bottom: 10px ;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    position: fixed; 
    width: 100%;     
    top: 60px; 
    left: 0;      
    z-index: 950;    
}

/* 2. Estilo base de los elementos de menú (Link) */
.menu-elemento {
    text-decoration: none; 
    color: #ffffff; 
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 600; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* 3. Estilo al pasar el ratón (Hover) */
.menu-elemento:hover {
    background-color: #00BCD4;
    color: #fff; 
}

