.formulario-discos {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background-color: burlywood;
    border-radius: 20px;
    margin-top: 100px;
}

.formulario-discos h2 {
    color: #333;
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 2px solid #00BCD4;
    padding-bottom: 10px;
}


.formulario-discos label {
    display: block; 
    margin-top: 20px;
    font-weight: bold;
    color: #555;
}

.formulario-discos input[type="text"], .formulario-discos input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-color: #00BCD4;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
}

.contenedor_genero {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #FAF0E6;
}

.contenedor_genero legend {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.contenedor_genero label {
    display: inline-block; 
    margin-right: 20px;
    font-weight: normal;
    cursor: pointer;
}

.contenedor_prestado {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #FAF0E6;
}

.contenedor_prestado legend {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.contenedor_prestado label {
    display: inline-block;
    margin-right: 20px;
    font-weight: normal;
    cursor: pointer;
}


.formulario-discos input[type="button"] {
    background-color: #00BCD4; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 25px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.formulario-discos input[type="button"]:hover {
    background-color: #0097A7; 
}

.errores{
    color: red;
}