#elegirColor{
    width: 50px;
    height: 20px;
}

.contenedorSeleccionColor{
    display: block;
    background-color:silver;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.tabla{
    border: 4px solid;
    margin: auto;
    border-collapse: collapse;
}

.tabla td {
    border: 1px solid;
    width: 10px;
    height: 10px;

}