#elegirColor{
    width: 50px;
    height: 30px;

}

.contenedorSeleccionColor{
    display: block;
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 10px;
}

.tabla{
    margin: auto;
    border-collapse: collapse;
}

.tabla td {
    border: 2px solid;
    width: 10px;
    height: 10px;

}