.menu_completo {
  position: fixed;
  top: 70px;               
  left: 0;
  width: 100%;
  background-color: #500000;
  display: flex;
  justify-content: center;    
  align-items: center;
  gap: 30px;                  
  padding: 12px 0;          
}

.menu {
  text-decoration: none;
  color: wheat;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.2s ease;
}

