
#panel_juego{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,150px);
    justify-content: center;
}

#panel_juego div{
    border: 1px solid;
}