body{
    background: linear-gradient(to right, #A50044, #004D98);
}

#piezas{
    border: 2px solid;
    background: linear-gradient(to right, #004D98, #A50044);
}

#piezas img{
   width: 200px;
   height: 150px;
}

.arrastrable{
    width: 200px;
   height: 150px;
}

#panel_juego{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,150px);
    justify-content: center;
}

#panel_juego div{
    border: 1px solid;
}

#boton_reinicio{
    height: 100px;
    width: 200px;
}