.contenedor_ejercicio{
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
}
.contenedor_ejercicio div{
    border: 2px solid black;
    border-radius: 20px;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
}

.contenedor_par {
    background-color: aquamarine;
    display: none;
}

.mostrar{
    display: flex;
}