.footer-container {
    background-color: #a3a3a3; 
    color: #ffffff;      
    padding: 10px 0;         
    text-align: center;         
    border-top: 2px solid #00BCD4;
    position: fixed;           
    bottom: 0;                
    width: 100%;               
    z-index: 999;  
    left: 0;            
}

.footer-text {
    margin: 0;
    font-size: 0.9em;
}