.header-container {
    background-color: #333; 
    color: #fff;          
    padding: 15px 20px;   
    text-align: center;    
    border-bottom: 3px solid #00BCD4; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed; 
    top: 0;  
    left: 0;        
    width: 100%;     
    z-index: 1000;
}

.header-title {
    margin: 0;
    font-size: 1.9em;
    font-family: Arial, Helvetica, sans-serif;
}

